doctype html
html(lang='en')
 head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3' crossorigin='anonymous')
  title Document
 body
  header
   nav.navbar.fixed-top.navbar-expand-md.navbar-light.bg-light
    .container-fluid
     a.navbar-brand(href='#') Navbar
     button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
     #navbarSupportedContent.collapse.navbar-collapse.row
      ul.navbar-nav.col
       li.nav-item.ms-md-3
        a.nav-link.active(aria-current='page' href='#') Home
       li.nav-item
        a.nav-link(href='#') Link
       li.nav-item
        a.nav-link(href='#') Link
       li.nav-item
        a.nav-link(href='#') Link
       .ms-auto.me-md-1
        form.d-flex
         input.form-control.me-2(type='search' placeholder='Search' aria-label='Search')
         button.btn.btn-outline-success(type='submit') Search
       .col-auto
        li.nav-item
         a.nav-link(href='#') Login
  main
   block content
  footer.footer.text-center
   .container
    .row
     // Footer Location
     .col-lg-4.mb-5.mb-lg-0
      h4.text-uppercase.mb-4 Location
      p.lead.mb-0
       | 2215 John Daniel Drive
       br
       |  Clark, MO 65243
     // Footer Social Icons
     .col-lg-4.mb-5.mb-lg-0
      h4.text-uppercase.mb-4 Around the Web
      a.btn.btn-outline-light.btn-social.mx-1(href='#!')
       i.fab.fa-fw.fa-facebook-f
      a.btn.btn-outline-light.btn-social.mx-1(href='#!')
       i.fab.fa-fw.fa-twitter
      a.btn.btn-outline-light.btn-social.mx-1(href='#!')
       i.fab.fa-fw.fa-linkedin-in
      a.btn.btn-outline-light.btn-social.mx-1(href='#!')
       i.fab.fa-fw.fa-dribbble
     // Footer About Text
     .col-lg-4
      h4.text-uppercase.mb-4 About Freelancer
      p.lead.mb-0
       | Freelance is a free to use, MIT licensed Bootstrap theme created by
       a(href='http://startbootstrap.com') Start Bootstrap
       |  .
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js' integrity='sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p' crossorigin='anonymous')
